/build/

# Doxygen https://www.stack.nl/~dimitri/doxygen/
/doxygen/
/Doxyfile.bak

# QtCreator https://qt.io
/CMakeLists.txt.user

# https://vim.sourceforge.io/
.?*.swp

# Sourcetrail https://sourcetrail.com
/Nuspell.srctrlbm
/Nuspell.srctrldb
/Nuspell.srctrlprj
